/* Genearl styling */
html, body
{
  margin: 0;
  padding: 0;
}
body{
  text-align: center;
}
.loginbutton{
  color: white;
  background-color: #F2A65A;
  /* border-color: #4681f4; */
  padding: 10px 25px;
  border-radius: 10px;
  border: none;
}
.loginbutton:hover{
  background-color: #55c2da;
}

/* Genearl css ends  */
/* Navigation bad CSS */
nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
/* Navigation bad CSS END */
/* Logo CSS */
nav .logo_div {
  width: 90px;
  margin: 10px;
}
nav .logo_div .img_logo{
  width: 100%;
}

/* Logo Css ends */
.UpperDiv{
  width: 100vw;
  height: 100vh;
  position: fixed;
  background:  linear-gradient(#fdc88b, #c6c7cf);;
}

nav .nav-button{
  color: #f38200;
  background-color: #e0e1e2;
  border: none;
  font-size: 18px;
  padding: 8px 18px;
  border-radius: 20px;
  margin: 35px;
}